<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      You can't go here.
    </h1>
    <h2 class="subtitle">
      Please try something you can do!
    </h2>
  </div>
</div>