<%= render 'partials/heading', heading: 'Admin Panel', sub_heading: 'Only Special People are allowed here' %>
<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <%= link_to('Users', '/admin/users', class: 'button is-large is-fullwidth') %>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <%= link_to('Populate Holidays', '/admin/populate', class: 'button is-large is-fullwidth') %>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <%= link_to('Permissions', '/admin/permission', class: 'button is-large is-fullwidth') %>
      </article>
    </div>
  </div>
</section>